{
    "swagger": "2.0",
    "info": {
        "title": "Story Protocol API Reference",
        "contact": {},
        "version": "v1"
    },
    "host": "api.storyprotocol.net",
    "paths": {
        "/api/v2/assets": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of IPAssets",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPAssets"
                ],
                "summary": "List IPAssets",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1IpAssetRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1IPAssetsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/assets"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/assets/edges": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of IP Edges",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPAssets"
                ],
                "summary": "List IP Edges",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1IpAssetEdgeRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/protocolv1IpAssetEdge"
                            }
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/assets/edges"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/assets/{assetId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve an IPAsset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPAssets"
                ],
                "summary": "Get an IPAsset",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset ID",
                        "name": "assetId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1IPAssetResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {
                        "integration.request.path.assetId": "method.request.path.assetId"
                    },
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/assets/{assetId}"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset ID",
                        "name": "assetId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/assets/{assetId}/metadata": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve metadata for an IPAsset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPAssets"
                ],
                "summary": "Get metadata for an IPAsset",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset ID",
                        "name": "assetId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1IpAssetMetadata"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {
                        "integration.request.path.assetId": "method.request.path.assetId"
                    },
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/assets/{assetId}/metadata"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset ID",
                        "name": "assetId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/collections": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of Collections",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Collections"
                ],
                "summary": "List Collections",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1CollectionsRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1CollectionsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/collections"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/collections/{collectionId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a Collection",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Collections"
                ],
                "summary": "Get an Collection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Collection ID",
                        "name": "collectionId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1CollectionResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {
                        "integration.request.path.collectionId": "method.request.path.collectionId"
                    },
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/collections/{collectionId}"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "Collection ID",
                        "name": "collectionId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/detailed-ip-license-terms": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve detailed IP License Terms associated with list of IP ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPLicenseTerms"
                ],
                "summary": "List detailed ip license term",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1IPLicenseTermsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/detailed-ip-license-terms"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/disputes": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of Disputes",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Disputes"
                ],
                "summary": "List Disputes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1DisputeRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1DisputesResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/disputes"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/disputes/{disputeId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a Dispute",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Disputes"
                ],
                "summary": "Get a Dispute",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Dispute ID",
                        "name": "disputeId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1DisputeResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {
                        "integration.request.path.disputeId": "method.request.path.disputeId"
                    },
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/disputes/{disputeId}"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "Dispute ID",
                        "name": "disputeId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/ip_group_edges": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve an IPGroup edges",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPGroup"
                ],
                "summary": "List a I",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv2IPGroupEdgesResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/ip_group_edges"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/ip_groups": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve an IPGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPGroup"
                ],
                "summary": "List IP groups",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv2IPGroupsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/ip_groups"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/licenses/ip/terms": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of IPLicenseTerms",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPLicenseTerms"
                ],
                "summary": "List IPLicenseTerms",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1IPLicenseTermsRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1IPLicenseTermsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/licenses/ip/terms"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/licenses/ip/terms/{ipId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve IP License Terms associated with an IP ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPLicenseTerms"
                ],
                "summary": "Get IP License Terms for an IP",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "IP ID",
                        "name": "ipId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1IPLicenseTermsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {
                        "integration.request.path.ipId": "method.request.path.ipId"
                    },
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/licenses/ip/terms/{ipId}"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "IP ID",
                        "name": "ipId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/licenses/mintingfees": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of LicenseMintingFeePaids",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Licenses"
                ],
                "summary": "List LicenseMintingFeePays",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1LicenseMintingFeePaidRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1LicenseMintingFeePaidsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/licenses/mintingfees"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/licenses/mintingfees/{licenseMintingFeePaidId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a LicenseMintingFeePay",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Licenses"
                ],
                "summary": "Get a LicenseMintingFeePay",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "LicenseMintingFeePay ID",
                        "name": "licenseMintingFeePaidId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1LicenseMintingFeePaidResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {
                        "integration.request.path.licenseMintingFeePaidId": "method.request.path.licenseMintingFeePaidId"
                    },
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/licenses/mintingfees/{licenseMintingFeePaidId}"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "LicenseMintingFeePay ID",
                        "name": "licenseMintingFeePaidId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/licenses/templates": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of LicenseTemplates",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTemplates"
                ],
                "summary": "List LicenseTemplates",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1LicenseTemplatesRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1LicenseTemplatesResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/licenses/templates"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/licenses/templates/{licenseTemplateId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a LicenseTemplate",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTemplates"
                ],
                "summary": "Get a LicenseTemplate",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "LicenseTemplate ID",
                        "name": "licenseTemplateId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1LicenseTemplateResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {
                        "integration.request.path.licenseTemplateId": "method.request.path.licenseTemplateId"
                    },
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/licenses/templates/{licenseTemplateId}"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "LicenseTemplate ID",
                        "name": "licenseTemplateId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/licenses/terms": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of LicenseTerms",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTerms"
                ],
                "summary": "List LicenseTerms",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1LicenseTermsRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1LicenseTermsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "POST",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/licenses/terms"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "passthroughBehavior": "when_no_match",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "mock"
                }
            }
        },
        "/api/v2/licenses/terms/default": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve default license term",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPLicenseTerms"
                ],
                "summary": "Get default license term",
                "parameters": [
                    {
                        "type": "string",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1IPLicenseTermsResponse"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Methods": {
                                "type": "string"
                            },
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth": {
                    "type": "none"
                },
                "x-amazon-apigateway-integration": {
                    "httpMethod": "GET",
                    "passthroughBehavior": "when_no_match",
                    "requestParameters": {},
                    "requestTemplates": {
                        "application/json": "{\"statusCode\":200}"
                    },
                    "responses": {
                        "default": {
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'*'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "statusCode": "200"
                        }
                    },
                    "type": "http_proxy",
                    "uri": "https://edge.prd.storyprotocol.net/api/v2/licenses/terms/default"
                }
            },
            "options": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
[...]
