{
    "swagger": "2.0",
    "info": {
        "title": "Story Protocol API Reference",
        "contact": {},
        "version": "v1"
    },
    "host": "api.storyprotocol.net",
    "paths": {
        "/api/v2/assets": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of IPAssets",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPAssets"
                ],
                "summary": "List IPAssets",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IpAssetRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IPAssetsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/assets/edges": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of IP Edges",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPAssets"
                ],
                "summary": "List IP Edges",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IpAssetEdgeRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/protocolv1.IPAssetEdgeResponse"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/assets/{assetId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve an IPAsset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPAssets"
                ],
                "summary": "Get an IPAsset",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset ID",
                        "name": "assetId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IPAssetResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/assets/{assetId}/metadata": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve metadata for an IPAsset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPAssets"
                ],
                "summary": "Get metadata for an IPAsset",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset ID",
                        "name": "assetId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.IpAssetMetadata"
                        }
                    }
                }
            }
        },
        "/api/v2/collections": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of Collections",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Collections"
                ],
                "summary": "List Collections",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1.CollectionsRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.CollectionsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/collections/{collectionId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a Collection",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Collections"
                ],
                "summary": "Get an Collection",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Collection ID",
                        "name": "collectionId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.CollectionResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/detailed-ip-license-terms": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve detailed IP License Terms associated with list of IP ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPLicenseTerms"
                ],
                "summary": "List detailed ip license term",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv1.DetailedIPLicenseTermsRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv2.DetailedTermsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/disputes": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of Disputes",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Disputes"
                ],
                "summary": "List Disputes",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.DisputeRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.DisputesResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/disputes/{disputeId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a Dispute",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Disputes"
                ],
                "summary": "Get a Dispute",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Dispute ID",
                        "name": "disputeId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.DisputeResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/ip_group_edges": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve an IPGroup edges",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPGroup"
                ],
                "summary": "List a IPGroup's edges",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IPGroupEdgesRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IPGroupEdgesResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/ip_groups": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve an IPGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPGroup"
                ],
                "summary": "List IP groups",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IPGroupsRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IPGroupsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/ip/terms": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of IPLicenseTerms",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPLicenseTerms"
                ],
                "summary": "List IPLicenseTerms",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.IPLicenseTermsRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.IPLicenseTermsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/ip/terms/{ipId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve IP License Terms associated with an IP ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "IPLicenseTerms"
                ],
                "summary": "Get IP License Terms for an IP",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "IP ID",
                        "name": "ipId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.IPLicenseTermsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/mintingfees": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of LicenseMintingFeePaids",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Licenses"
                ],
                "summary": "List LicenseMintingFeePays",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.LicenseMintingFeePaidRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.LicenseMintingFeePaidsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/mintingfees/{licenseMintingFeePaidId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a LicenseMintingFeePay",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Licenses"
                ],
                "summary": "Get a LicenseMintingFeePay",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "LicenseMintingFeePay ID",
                        "name": "licenseMintingFeePaidId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.LicenseMintingFeePaidResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/templates": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of LicenseTemplates",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTemplates"
                ],
                "summary": "List LicenseTemplates",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.LicenseTemplatesRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.LicenseTemplatesResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/templates/{licenseTemplateId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a LicenseTemplate",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTemplates"
                ],
                "summary": "Get a LicenseTemplate",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "LicenseTemplate ID",
                        "name": "licenseTemplateId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.LicenseTemplateResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/terms": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of LicenseTerms",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTerms"
                ],
                "summary": "List LicenseTerms",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.LicenseTermsRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.LicenseTermsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/terms/default": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv2.DetailedTermsDefaultResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/terms/{licenseTermId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a LicenseTerm",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTerms"
                ],
                "summary": "Get a LicenseTerm",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "LicenseTerm ID",
                        "name": "licenseTermId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.LicenseTermResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/tokens": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of LicenseTokens",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTokens"
                ],
                "summary": "List LicenseTokens",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.LicenseTokenRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.LicenseTokensResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/licenses/tokens/{licenseTokenId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a LicenseToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "LicenseTokens"
                ],
                "summary": "Get an LicenseToken",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "License Token ID",
                        "name": "licenseTokenId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.LicenseTokenResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/modules": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of Modules",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Modules"
                ],
                "summary": "List Modules",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.ModuleRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.ModulesResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/modules/{moduleId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a Module",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Modules"
                ],
                "summary": "Get a Module",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Module ID",
                        "name": "moduleId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.ModuleResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/permissions": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of Permissions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Permissions"
                ],
                "summary": "List Permissions",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.PermissionRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.PermissionsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/permissions/{permissionId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a Permission",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Permissions"
                ],
                "summary": "Get a Permission",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Permission ID",
                        "name": "permissionId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.PermissionResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/royalties/payments": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of RoyaltyPays",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Royalties"
                ],
                "summary": "List RoyaltyPays",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.RoyaltyPayRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.RoyaltyPaysResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/royalties/payments/{royaltyPayId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a RoyaltyPay",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Royalties"
                ],
                "summary": "Get a RoyaltyPay",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "RoyaltyPay ID",
                        "name": "royaltyPayId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.RoyaltyPayResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/transactions": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of Transactions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transactions"
                ],
                "summary": "List Transactions",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (orderBy can be: id, blockNumber, blockTime, actionType, initiator, ipId, resourceId, resourceType)",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.TrxQueryOptions"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.TransactionsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/transactions/latest": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a paginated, filtered list of Latest Transactions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transactions"
                ],
                "summary": "List Latest Transactions",
                "parameters": [
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Query Parameters (orderBy can be: id, blockNumber, blockTime, actionType, initiator, ipId, resourceId, resourceType)",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/protocolv2.TransactionRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.TransactionsResponse"
                        }
                    }
                }
            }
        },
        "/api/v2/transactions/{trxId}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieve a Transaction",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transactions"
                ],
                "summary": "Get a Transaction",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Transaction ID",
                        "name": "trxId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "4CWuPKSRTTxC7WvjPNsaZlAqJmrGL7OhNniUrZawdu8",
                        "description": "API Key",
                        "name": "X-Api-Key",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "1516",
                        "description": "Chain Destination",
                        "name": "X-Chain",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/protocolv1.TransactionResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "protocolv1.Collection": {
            "type": "object",
            "properties": {
                "assetCount": {
                    "type": "string"
                },
                "blockNumber": {
                    "type": "string"
                },
                "blockTimestamp": {
                    "type": "string"
                },
                "cancelledDisputeCount": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "judgedDisputeCount": {
                    "type": "string"
                },
                "licensesCount": {
                    "type": "string"
                },
                "raisedDisputeCount": {
                    "type": "string"
                },
                "resolvedDisputeCount": {
                    "type": "string"
                }
            }
        },
        "protocolv1.CollectionQueryOptions": {
            "type": "object",
            "properties": {
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "where": {
                    "type": "object"
                }
            }
        },
        "protocolv1.CollectionResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.Collection"
                }
            }
        },
        "protocolv1.CollectionsRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv1.CollectionQueryOptions"
                }
            }
        },
        "protocolv1.CollectionsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.Collection"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.DetailedIPLicenseTermsRequestBody": {
            "type": "object"
        },
        "protocolv1.Dispute": {
            "type": "object",
            "properties": {
                "arbitrationPolicy": {
                    "type": "string"
                },
                "blockNumber": {
                    "type": "string"
                },
                "blockTimestamp": {
                    "type": "string"
                },
                "currentTag": {
                    "type": "string"
                },
                "data": {
                    "type": "string"
                },
                "evidenceLink": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "initiator": {
                    "type": "string"
                },
                "targetIpId": {
                    "type": "string"
                },
                "targetTag": {
                    "type": "string"
                }
            }
        },
        "protocolv1.DisputeResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.Dispute"
                }
            }
        },
        "protocolv1.DisputesResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.Dispute"
                    }
                }
            }
        },
        "protocolv1.IPAssetEdgeResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.IpAssetEdge"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.IPLicenseTerm": {
            "type": "object",
            "properties": {
                "blockNumber": {
                    "type": "string"
                },
                "blockTime": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "ipId": {
                    "type": "string"
                },
                "licenseTemplate": {
                    "type": "string"
                },
                "licenseTermsId": {
                    "type": "string"
                }
            }
        },
        "protocolv1.IPLicenseTermsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.IPLicenseTerm"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.IpAssetEdge": {
            "type": "object",
            "properties": {
                "blockNumber": {
                    "type": "string"
                },
                "blockTime": {
                    "type": "string"
                },
                "ipId": {
                    "type": "string"
                },
                "licenseTemplate": {
                    "type": "string"
                },
                "licenseTermsId": {
                    "type": "string"
                },
                "licenseTokenId": {
                    "type": "string"
                },
                "parentIpId": {
                    "type": "string"
                },
                "transactionHash": {
                    "type": "string"
                },
                "transactionIndex": {
                    "type": "string"
                }
            }
        },
        "protocolv1.IpAssetMetadata": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "metadataHash": {
                    "type": "string"
                },
                "metadataJson": {},
                "metadataUri": {
                    "type": "string"
                },
                "nftMetadataHash": {
                    "type": "string"
                },
                "nftTokenUri": {
                    "type": "string"
                },
                "registrationDate": {
                    "type": "string"
                }
            }
        },
        "protocolv1.LicenseMintingFeePaid": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "string"
                },
                "blockNumber": {
                    "type": "string"
                },
                "blockTimestamp": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "payer": {
                    "type": "string"
                },
                "receiverIpId": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "protocolv1.LicenseMintingFeePaidResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.LicenseMintingFeePaid"
                }
            }
        },
        "protocolv1.LicenseMintingFeePaidsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.LicenseMintingFeePaid"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.LicenseTemplate": {
            "type": "object",
            "properties": {
                "blockNumber": {
                    "type": "string"
                },
                "blockTime": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "metadataUri": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "protocolv1.LicenseTemplateResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.LicenseTemplate"
                }
            }
        },
        "protocolv1.LicenseTemplatesResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.LicenseTemplate"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.LicenseTerm": {
            "type": "object",
            "properties": {
                "blockNumber": {
                    "type": "string"
                },
                "blockTime": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "licenseTemplate": {
                    "type": "string"
                },
                "licenseTerms": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "additionalProperties": {}
                    }
                },
                "terms": {
                    "$ref": "#/definitions/protocolv1.Term"
                }
            }
        },
        "protocolv1.LicenseTermResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.LicenseTerm"
                }
            }
        },
        "protocolv1.LicenseTermsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.LicenseTerm"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.LicenseToken": {
            "type": "object",
            "properties": {
                "blockNumber": {
                    "type": "string"
                },
                "blockTime": {
                    "type": "string"
                },
                "burntAt": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "licenseTemplate": {
                    "type": "string"
                },
                "licenseTermsId": {
                    "type": "string"
                },
                "licensorIpId": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "transferable": {
                    "type": "string"
                }
            }
        },
        "protocolv1.LicenseTokenResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.LicenseToken"
                }
            }
        },
        "protocolv1.LicenseTokensResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.LicenseToken"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.Module": {
            "type": "object",
            "properties": {
                "blockNumber": {
                    "type": "string"
                },
                "blockTimestamp": {
                    "type": "string"
                },
                "deletedAt": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "module": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "protocolv1.ModuleResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.Module"
                }
            }
        },
        "protocolv1.ModulesResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.Module"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.Permission": {
            "type": "object",
            "properties": {
                "blockNumber": {
                    "type": "string"
                },
                "blockTimestamp": {
                    "type": "string"
                },
                "func": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "permission": {
                    "type": "string"
                },
                "signer": {
                    "type": "string"
                },
                "to": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                }
            }
        },
        "protocolv1.PermissionResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.Permission"
                }
            }
        },
        "protocolv1.PermissionsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.Permission"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.RoyaltyPay": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "string"
                },
                "blockNumber": {
                    "type": "string"
                },
                "blockTimestamp": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "payerIpId": {
                    "type": "string"
                },
                "receiverIpId": {
                    "type": "string"
                },
                "sender": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "protocolv1.RoyaltyPayResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.RoyaltyPay"
                }
            }
        },
        "protocolv1.RoyaltyPaysResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.RoyaltyPay"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv1.Term": {
            "type": "object",
            "properties": {
                "commercialAttribution": {
                    "type": "boolean"
                },
                "commercialRevCeiling": {
                    "type": "integer"
                },
                "commercialRevShare": {
                    "type": "integer"
                },
                "commercialUse": {
                    "type": "boolean"
                },
                "commercializerChecker": {
                    "type": "string"
                },
                "commercializerCheckerData": {
                    "type": "string"
                },
                "currency": {
                    "type": "string"
                },
                "defaultMintingFee": {
                    "type": "integer"
                },
                "derivativeRevCeiling": {
                    "type": "integer"
                },
                "derivativesAllowed": {
                    "type": "boolean"
                },
                "derivativesApproval": {
                    "type": "boolean"
                },
                "derivativesAttribution": {
                    "type": "boolean"
                },
                "derivativesReciprocal": {
                    "type": "boolean"
                },
                "expiration": {
                    "type": "integer"
                },
                "royaltyPolicy": {
                    "type": "string"
                },
                "transferable": {
                    "type": "boolean"
                },
                "uri": {
                    "type": "string"
                }
            }
        },
        "protocolv1.Transaction": {
            "type": "object",
            "properties": {
                "actionType": {
                    "type": "string"
                },
                "blockNumber": {
                    "type": "string"
                },
                "blockTimestamp": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "initiator": {
                    "type": "string"
                },
                "ipId": {
                    "type": "string"
                },
                "logIndex": {
                    "type": "string"
                },
                "resourceId": {
                    "type": "string"
                },
                "resourceType": {
                    "type": "string"
                },
                "transactionIndex": {
                    "type": "string"
                },
                "tx_hash": {
                    "type": "string"
                }
            }
        },
        "protocolv1.TransactionResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv1.Transaction"
                }
            }
        },
        "protocolv1.TransactionsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv1.Transaction"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv2.DetailedTerms": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "ipId": {
                    "type": "string"
                },
                "licenseTemplate": {
                    "$ref": "#/definitions/protocolv1.LicenseTemplate"
                },
                "licenseTemplateId": {
                    "type": "string"
                },
                "terms": {
                    "$ref": "#/definitions/protocolv1.Term"
                }
            }
        },
        "protocolv2.DetailedTermsDefaultResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv2.DetailedTerms"
                }
            }
        },
        "protocolv2.DetailedTermsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv2.DetailedTerms"
                    }
                }
            }
        },
        "protocolv2.DisputeQueryOptions": {
            "type": "object",
            "properties": {
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "where": {
                    "type": "object",
                    "properties": {
                        "blockNumber": {
                            "type": "string"
                        },
                        "id": {
                            "type": "string"
                        },
                        "targetIpId": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "protocolv2.DisputeRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv2.DisputeQueryOptions"
                }
            }
        },
        "protocolv2.IPAsset": {
            "type": "object",
            "properties": {
                "ancestorCount": {
                    "type": "integer"
                },
                "blockNumber": {
                    "type": "string"
                },
                "blockTimestamp": {
                    "type": "string"
                },
                "childIpIds": {
                    "type": "string"
                },
                "childrenCount": {
                    "type": "integer"
                },
                "contractVersion": {
                    "type": "string"
                },
                "descendantCount": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "ipId": {
                    "type": "string"
                },
                "isGroup": {
                    "type": "boolean"
                },
                "nftMetadata": {
                    "$ref": "#/definitions/protocolv2.NftMetadata"
                },
                "parentCount": {
                    "type": "integer"
                },
                "parentIpIds": {
                    "type": "string"
                },
                "rootIpIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "transactionHash": {
                    "type": "string"
                }
            }
        },
        "protocolv2.IPAssetResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/protocolv2.IPAsset"
                }
            }
        },
        "protocolv2.IPAssetsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv2.IPAsset"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv2.IPGroup": {
            "type": "object",
            "properties": {
                "group_id": {
                    "type": "string"
                },
                "ip_count": {
                    "type": "integer"
                }
            }
        },
        "protocolv2.IPGroupEdge": {
            "type": "object",
            "properties": {
                "block_number": {
                    "type": "string"
                },
                "block_time": {
                    "type": "string"
                },
                "group_id": {
                    "type": "string"
                },
                "ip_id": {
                    "type": "string"
                },
                "transaction_hash": {
                    "type": "string"
                }
            }
        },
        "protocolv2.IPGroupEdgesQueryOptions": {
            "type": "object",
            "properties": {
                "ipAssetIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "tokenContractIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "tokenIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "where": {
                    "type": "object",
                    "properties": {
                        "blockNumber": {
                            "type": "string"
                        },
                        "groupId": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "protocolv2.IPGroupEdgesRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv2.IPGroupEdgesQueryOptions"
                }
            }
        },
        "protocolv2.IPGroupEdgesResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv2.IPGroupEdge"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv2.IPGroupsQueryOptions": {
            "type": "object",
            "properties": {
                "ipAssetIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "tokenContractIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "tokenIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "where": {
                    "type": "object",
                    "properties": {
                        "groupId": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "protocolv2.IPGroupsRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv2.IPGroupsQueryOptions"
                }
            }
        },
        "protocolv2.IPGroupsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/protocolv2.IPGroup"
                    }
                },
                "next": {
                    "type": "string"
                },
                "prev": {
                    "type": "string"
                }
            }
        },
        "protocolv2.IPLicenseTermsQueryOptions": {
            "type": "object",
            "properties": {
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "where": {
                    "type": "object",
                    "properties": {
                        "blockNumber": {
                            "type": "string"
                        },
                        "id": {
                            "type": "string"
                        },
                        "ipId": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "protocolv2.IPLicenseTermsRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv2.IPLicenseTermsQueryOptions"
                }
            }
        },
        "protocolv2.IpAssetEdgeQueryOptions": {
            "type": "object",
            "properties": {
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "where": {
                    "type": "object",
                    "properties": {
                        "blockNumber": {
                            "type": "string"
                        },
                        "ipId": {
                            "type": "string"
                        },
                        "licenseTermsId": {
                            "type": "string"
                        },
                        "licenseTokenId": {
                            "type": "string"
                        },
                        "parentIpId": {
                            "type": "string"
                        },
                        "transactionHash": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "protocolv2.IpAssetEdgeRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv2.IpAssetEdgeQueryOptions"
                }
            }
        },
        "protocolv2.IpAssetQueryOptions": {
            "type": "object",
            "properties": {
                "ipAssetIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "tokenContractIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "tokenIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "where": {
                    "type": "object",
                    "properties": {
                        "blockNumber": {
                            "type": "string"
                        },
                        "id": {
                            "type": "string"
                        },
                        "ipId": {
                            "type": "string"
                        },
                        "tokenContract": {
                            "type": "string"
                        },
                        "tokenId": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "protocolv2.IpAssetRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv2.IpAssetQueryOptions"
                }
            }
        },
        "protocolv2.LicenseMintingFeePaidQueryOptions": {
            "type": "object",
            "properties": {
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "where": {
                    "type": "object",
                    "properties": {
                        "blockNumber": {
                            "type": "string"
                        },
                        "id": {
                            "type": "string"
                        },
                        "receiverIpId": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "protocolv2.LicenseMintingFeePaidRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv2.LicenseMintingFeePaidQueryOptions"
                }
            }
        },
        "protocolv2.LicenseTemplatesQueryOptions": {
            "type": "object",
            "properties": {
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
                        "limit": {
                            "type": "integer"
                        }
                    }
                },
                "where": {
                    "type": "object",
                    "properties": {
                        "blockNumber": {
                            "type": "string"
                        },
                        "id": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "protocolv2.LicenseTemplatesRequestBody": {
            "type": "object",
            "properties": {
                "options": {
                    "$ref": "#/definitions/protocolv2.LicenseTemplatesQueryOptions"
                }
            }
        },
        "protocolv2.LicenseTermsQueryOptions": {
            "type": "object",
            "properties": {
                "orderBy": {
                    "type": "string"
                },
                "orderDirection": {
                    "type": "string"
                },
                "pagination": {
                    "type": "object",
                    "properties": {
                        "after": {
                            "type": "string"
                        },
                        "before": {
                            "type": "string"
                        },
[...]
